# Archivos de Build
/build
/app/build

# Archivos de configuración local
local.properties
.gradle
gradle.properties

# Archivos de IDE (Android Studio / IntelliJ)
.idea/
*.iml
*.hprof
.cxx/

# Archivos de Google Services
app/google-services.json

# Capturas de pantalla
captures/

